.show-details-container{
    color: white;
}

.nav{
    padding: 0.5em;
}

/* .nav-btn{
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
}
.nav label{
    font-size: 0.7em;
    margin-left: 0.2em;
    cursor: pointer;
} */



