.show-block {
  margin: 1.2em 0 1em 1em;
  max-width: 300px;
  display: inline-flex;
  color: var(--rich-black-fogra-39);
  cursor: pointer;
}

.show-block {
  transition: all 0.2s ease-in-out;
}
.show-block:hover {
  transform: scale(1.1);
}

.show-block:hover {
  box-shadow: 0px 0px 10px 2px var(--silver-chalice);
}

.show-img {
  height: 180px;
  width: 120px;
}
