<div class="search">
    <div class="search-field">
        <input type="text" v-model="searchString" v-on:keyup.enter="onEnter"/>
        <t-button @click="searchShows()">Search</t-button>
    </div>
    <div class="search-result">
        <div class="loading-spinner" v-if="loading">
            <div class="lds-grid"><div></div><div></div><div></div></div>
        </div>
        <div v-if="!loading && searchResult?.length" class="result-blocks-container">
            <div v-for="show in searchResult" >
                <search-result-block :showDetails="show.show"></search-result-block>
            </div>
        </div>
    </div>
</div>