.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-icon{
  /* color: var(--eerie-black); */
}

.banner {
  padding: 0.5em;
  margin: 0px;
  background-color: green;
  color: white;
  text-align: left;
}

.banner {
  background-color: var(--ruby-red);
}

.search-btn{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2em;
  color: white;
  padding: 0.5em;
}

.search-btn a{
  text-decoration: none;
  color: white;
}
